/* assets/styles/components/spinner/base.css */

.site-spinner {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #666;
  font-style: italic;
  padding: 1em;
  justify-content: center;
}
